



<div id="image-section-{{ section.id }}" class="custom-image-section-cs">
  {%- if section.settings.image != blank -%}
    
  {% endif %} 
</div>


{% schema %}
  {
    "name": "Custom Image Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
    ],
    "presets": [
      {
        "name": "Image Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}